div {
    display: flex;
    justify-content: center;
}
body{
 background-size: cover;
  background-image: url("pexels-jplenio-1114896.jpg");
}
button{
  position: absolute;
  top: 67%;
  margin-left: 50px;
  width: 210px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.721) ;
  border: 3px solid white;

}
h1{
  margin-left: 50px;
  margin-top: 320px;
  color: white;
  position: absolute;
  font-size: 70px;
 
}

h1 {
  font-family: "Rubik Vinyl", system-ui;
  font-weight: 700;
  font-style: normal;
}

 h1{
    font-optical-sizing: auto;
  font-style: normal;
}
a:link{
  text-decoration: none;
  color: rgb(63, 32, 10);
}
a{
font-size: 21px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 700;
transition: 0.5s;
text-decoration: none;

    color: rgba(255, 255, 0, 0)
}

button:hover {
  background-color: rgba(255, 255, 0, 0);
  border: 3px solid white;
    cursor: url('pngwing.com.png'), auto;

}
button:hover a{
  background-color: rgba(255, 255, 0, 0);
  color: aliceblue;
    cursor: url('pngwing.com.png'), auto;
}
